LunarCalendar>=0.0.9
attrs>=21.2.0
ax-platform
convertdate>=2.1.2
fbprophet==0.7
gpytorch
holidays>=0.10.2
matplotlib>=2.0.0
numpy>=1.15.4
numba>=0.52.0
pandas>=1.0.4
plotly>=4.14.3
pymannkendall>=1.4.1
pystan==2.19.1.1
python-dateutil>=2.8.0
scikit-learn>+0.24.2
setuptools-git>=1.2
seaborn>=0.11.1
statsmodels>=0.12.2
torch>=1.8.1
tqdm>=4.36.1
